/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/docker
.env
.composer
.env.backup
package-lock.json
system.txt
.bash_history
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
